.player0 {
    color: #801515;
}

.player0Result {
    background-color: rgba(128,21,21,0.35);
}

.player1 {
    color: #530E53;
}

.player1Result {
    background-color: rgba(83,14,83,0.35);
}

.player2 {
    color: #343477;
}

.player2Result {
    background-color: rgba(52,52,119,0.35);
}

.player3 {
    color: #246D5F;
}

.player3Result {
    background-color: rgba(36,109,95,0.35);
}

.player4 {
    color: #659933;
}

.player4Result {
    background-color: rgba(101,153,51,0.35);
}

.player5 {
    color: #552F00;
}

.player5Result {
    background-color: rgba(85,47,0,0.35);
}

.player5Result {
	background-color: rgba(85, 77, 85, 0.35);
}

.vote-box {
	float: right;
	width: 20px;
	height: 20px;
	margin: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0,0,0,1);
}


progress {

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/* gets rid of default border in Firefox and Opera. */
	border: solid #cccccc 5px;
	border-radius: 10px;
	/* Dimensions */
	width: 238px;
	height: 45px;
}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/*
 * Background of the progress bar background
 */

/* Firefox and Polyfill */
progress {
	background: #cccccc !important; /* !important only needed in polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
	background: #cccccc;
}

/*
 * Background of the progress bar value
 */

/* Firefox */
progress::-moz-progress-bar {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}

/* Chrome */
progress::-webkit-progress-value {
	border-radius: 5px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
	);
	background-image: -webkit-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}

/* Polyfill */
progress[aria-valuenow]:before {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -ms-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -o-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);

}

progress {
    width: 100% !important;
}

.timeLeft {
    margin-top: 4em;
}

#react, form {
    margin: 0 2% 0 2%;
}